.titulo {
    margin-top: 75px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo h3 {
    font-size: 2rem;
}

#section_uno_contacto {
    background-color: yellow;
    width: 80%;
    margin: 50px 10% 50px 10%;
}

/* Set the size of the div element that contains the map */
#form {
    width: 100%;
}
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
    background-color: yellow;

}
#section_dos_contacto {
    width: 100%;
    margin: 0 auto 0 auto;
    display: block;
    text-align: center;
}
#section_dos_contacto div {
    display: block;
}
#icon1 {
    margin: 0 0 0 0;
}
#icon2 {
    margin: 0 0 0 0;
}
#icon3 {
    margin: 0 0 0 0;
}

@media screen and (min-width: 480px){
}
@media screen and (min-width: 600px){

}
@media screen and (min-width: 767px){
 #section_uno_contacto {
     display: flex;
     justify-content: space-between;
 }
    #form {
        width: 90%;
        margin-right: 10%;
    }
    #map {
        width: 60%;

    }
}

#section_dos_contacto div {
    display: inline-block;
}
#icon1 {
    margin: 0 50px 0 0;
}
#icon2 {
    margin: 0 50px 0 50px;
}
#icon3 {
    margin: 0 0 0 50px;
}

@media screen and (min-width: 950px){
}