{{define "footer"}}

    <footer>
        <div id="separator"></div>
        <div class="redes" id="redesId">

        </div>
        <div class="derechos">
            <p><span>Copyright © 2021 Capital Quant Agency - All Rights Reserved.</span></p>
        </div>
        <div class="menufooter" id="menufooterId">

        </div>

    </footer>

{{end}}