<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beagle Consulting Group</title>
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="css/inicioStyle.css" />
    <link rel="stylesheet" type="text/css" href="css/navBarGeneral.css">
    <link rel="stylesheet" type="text/css" href="css/sectionUnoNosotros.css">
    <link rel="stylesheet" type="text/css" href="css/sectionDosNosotros.css">
    <link rel="stylesheet" type="text/css" href="css/sectionTresNosotros.css">
    <link rel="stylesheet" type="text/css" href="css/footerStyle.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

</head>

<body>
{{template "navBarGeneral"}}
{{template  "sectionsNosotros"}}
{{template "footer"}}
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="js/navbarGeneral.js"></script>
<script src="js/sectionsNosotros.js"></script>
<script src="js/footer.js"></script>
<script src="js/inicioScrollAnimations.js"></script>
</body>
<style>
    #isaac {
        height: 300px;
        width: 100%;
    }
</style>
</html>