<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>BCG|Productos</title>
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">


    <link rel="stylesheet" type="text/css" href="css/inicioStyle.css">
    <link rel="stylesheet" type="text/css" href="css/productos_servicios.css">
    <link rel="stylesheet" type="text/css" href="css/navBarGeneral.css">
    <link rel="stylesheet" type="text/css" href="css/footerStyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
{{template "navBarGeneral"}}
<section id="section_uno_producto">
    <div id="producto">

    </div>
</section>
{{template "footer"}}
<script src="js/navbarGeneral.js"></script>
<script src="js/productos.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="js/inicioScrollAnimations.js"></script>
<script src="js/footer.js"></script>
</body>