{{define "sectionDosInicio"}}
    <section id="inicio_section_elegirnos">
        <div id="imagen_setion_elegirnos">
        </div>
        <div class="texto_setion_elegirnos" data-aos="fade-up">

        </div>
        <div class="texto_setion_elegirnos" id="texto_setion_elegirnos_url" data-aos="fade-down">

        </div>
    </section>
{{end}}